.ads {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.hr_text {
  font-size: 0.8rem;
  color: var(--color-primary);
  display: flex;
  grid-column: 1 / 3;
}

.hr_text button {
  background: none;
  border: 0;
  color: #666;
  margin-left: 0.6rem;
}

.hr_text span {
  margin-left: 0.6rem;
}

.hr_text::after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #666;
  margin: auto;
}
