.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.logo {
  padding: 0.4rem 1.5rem;
  border-right: 4px solid red;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
}

.nav_link {
  padding: 0.3rem;
  margin-left: 1rem;
}

.nav_link:hover {
  color: var(--color-secondary);
}

.left_side {
  margin-right: auto;
}
