.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.logo {
  padding: 0.4rem 1.5rem;
  border-right: 4px solid red;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
}

.nav_link {
  padding: 0.3rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.85rem;
}

.nav_link i {
  margin-left: 0.5rem;
}

.nav_link:hover {
  color: var(--color-secondary);
}

.left_side {
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.search_btn {
  display: flex;
  align-items: center;
}

.search_btn i {
  margin-left: 0.5rem;
}

.account {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
