.buying_guides {
  margin-bottom: 3rem;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head h3 {
  font-size: 1rem;
  padding-right: 1rem;
  border-right: 4px solid red;
}

.head a {
  font-size: 0.8rem;
}

.head a i {
  margin-right: 0.5rem;
  color: red;
}

.slider_item {
  display: inline-block;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
}

.slider_item > h5 {
  position: absolute;
  font-size: 1rem;
  top: 30%;
  padding: 1rem;
  z-index: 1;
}

.slider_item::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.slider_item > h4 > i {
  color: red;
}

.slider_item > img {
  border-radius: 5px;
  transition: transform 0.6s;
  height: 100%;
  object-fit: cover;
}

.slider_item:hover > img {
  transform: scale(1.1);
}

.slider_item .time_date {
  position: absolute;
  font-size: 0.8rem;
  bottom: 0;
  padding: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.slider_item .time_date span:last-child i {
  padding-left: 0.5rem;
}

.swiper {
  padding: 1rem 0;
}
