/* Variables */
:root {
  --color-primary: #e8e2d8;
  --color-secondary: #ff6961;
  --color-background: #202425;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}
